* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

:root {
    --dark-900: #050816;
    --dark-800: #0B0F2A;
    --dark-700: #121736;
    --dark-600: #1B1F45;

    --violet-500: #7B5CFF;
    --violet-400: #9B6DFF;
    --violet-300: #C084FC;

    --indigo-500: #5C6CFF;
    --indigo-400: #7FA0FF;
    
    --grey-200:  #B8BEDA;
    --grey-100:  #F5F7FF;

    --primary-font: "Roboto", sans-serif;
}

.home {
    background: linear-gradient(135deg, var(--dark-900), var(--dark-700));
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex: 1;
}

.home h1 {
    color: var(--grey-100);
}

.home-options {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-options ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
}

.home-options ul li {
    padding: 30px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: var(--dark-600);
    border-radius: 10px;
}

ul li svg{
    width: 40px;
    padding: 5px;
    border-radius: 50%;
    background-color: var(--violet-400);
}

ul li a {
    text-decoration: none;
    color: var(--grey-200);
    font-weight: 500;
}

footer {
    background-color: var(--dark-900);
    display: flex;
    align-items: center;
    padding: 10px;
}

footer .social-links {
    justify-self: end;
}

footer svg {
    width: 40px;
}

footer p {
    color: var(--grey-200);
    justify-self: start;
}

footer a {
    text-decoration: none;
    color: var(--grey-200);
}