* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --grey-900: #0b1020;
    --grey-800: #0f1629;
    --grey-600: #1a2440;
    --grey-700: #9ea3b0;
    --grey-500: #dfdfe1;
    --grey-300: #fefff6;
    --grey-200: #f1f2f6;

    --blue-500: #0076FA;

    --primary-font: "Roboto", sans-serif;
}

.app {
    height: 100vh;
    background-color: var(--grey-700);
    display: flex;
}

aside {
    background-color: var(--grey-500);
    width: 260px;
    padding: 20px;
    /* display: flex;
    flex-direction: column; */
    gap: 0.8rem;
    overflow-y: auto; 
}

aside input {
    display: block;
    width: 100%;
    background-color: var(--grey-300);
    padding: 7px;
    border-radius: 10px;
    border: 1px solid var(--grey-300);
    margin-bottom: 1.5rem;
}

.not-found {
    font-size: 15px;
    text-align: center;
    color: var(--grey-700);
}

aside ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

aside ul li {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0px 0px 15px 5px; 
    text-transform: capitalize;
}

aside ul li img {
    border-radius: 50%;
    width: 40px;
}

aside ul li:hover{
    cursor: pointer;
    background-color: var(--blue-500);
    color: white;
}

li small{
    display: block;
}