* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

:root {
    --grey-900: #0b1020;
    --grey-800: #0f1629;
    --grey-600: #1a2440;
    --grey-700: #9ea3b0;
    --grey-500: #DEDEDE;
    --grey-300: #F2F2F2;
    --grey-200: #FEFEFE;

    --blue-500: #0076FA;
    --blue-300: #00ABE8;

    --green-300: #008000;

    --primary-font: "Roboto", sans-serif;
}

.app {
    height: 100vh;
    display: flex;
}

/* Aside styles */

aside {
    background-color: var(--grey-300);
    width: 260px;
    padding: 15px;
    gap: 0.8rem;
    overflow-y: auto; 
}

aside h1 {
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: 800;
    color: var(--grey-800);
}

aside input {
    display: block;
    width: 100%;
    background-color: white;
    padding: 7px;
    border-radius: 10px;
    border: 1px solid var(--grey-300);
    margin-bottom: 1.5rem;
}

aside input:focus {
    outline: 1.5px solid var(--blue-500);
}

.not-found {
    font-size: 15px;
    text-align: center;
    color: var(--grey-700);
}

aside ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

aside ul li {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px 5px;
    text-transform: capitalize;
    font-weight: 500;
    color: var(--grey-800);
    transition: all 0.2s;
}

aside ul li small {
    font-weight: 300;
    margin-top: 3px;
}

aside ul li img {
    border-radius: 50%;
    width: 50px;
    margin-right: 10px;
}

aside ul li:hover{
    cursor: pointer;
    background: linear-gradient(var(--blue-500), var(--blue-300));
    color: white;
}

li small{
    display: block;
}

/* Chat styles */
.chat {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--grey-200);
}

.chat header {
    display: flex;
    align-items: center;
    gap: 1.3rem;
    background-color: white;
    color: var(--grey-800);
    padding: 7px;
    border-bottom: 1.5px solid var(--grey-500);
}

.chat header img {
    width: 70px;
    margin-left: 0.8rem;
    border-radius: 50%;
}

.chat header h2 {
    font-size: 25px;
}

.chat header p {
    font-weight: 300;
    color: var(--grey-700);
}

.chat header p.online-chat {
    color: var(--green-300);
}

.empty-chat-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.empty-chat {
    color: var(--grey-700);
    text-align: center;
}

.chat-body {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 17px;
    gap: 1rem;
    padding: 10px;
    overflow: auto;
}

.message {
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 4px 1px 36px -5px rgba(0,0,0,0.25);
}

.message.me {
    background: linear-gradient(var(--blue-500), var(--blue-300));
    color: white;
    align-self: end;
}

.message.received {
    background-color: var(--grey-500);
}

.timestamp {
    font-size: 12px;
    margin-top: 5px;
    text-align: end;
}

.chat-input {
    padding: 10px;
    display: flex;
    gap: 0.3rem;
    background-color: var(--grey-300);
}

.chat-input input {
    flex: 1;
    padding: 7px;
    border-radius: 10px;
    border: 1px solid white;
}

.chat-input input:focus {
    outline: 2px solid var(--blue-300);
}

.chat-input button {
    width: 35px;
    padding: 7px;
    border-radius: 50%;
    background-color: var(--blue-500);
    border: 1px solid var(--blue-500);
    transition: all 0.1s ease-in;
}

.chat-input button svg {
    width: 100%;
}

.chat-input button:hover {
    transform: scale(1.1);
    cursor: pointer;
}