* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

.not-found {
    background: linear-gradient(100deg, var(--dark-600), var(--dark-800));
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.not-found h1 {
    color: var(--grey-100);
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 10px;
}

.not-found h4 {
    color: var(--grey-200);
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 30px;
}

.next-option {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
}

.next-option a {
    padding: 20px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-900);
    font-weight: 500;
    color: var(--grey-200);
    font-size: 17px;
    gap: 0.7rem;
    text-decoration: none;
    transition: all 0.2s ease;
}

.next-option a:hover {
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0px -1px 65px -26px rgba(192, 132, 252, 0.9);
}

.next-option svg {
    width: 30px;
}

@media (max-width: 600px) {
    .not-found h4 {
        margin-bottom: 3.5rem;
    }
    .next-option {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}