* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

:root {
    --dark-900: #050816;
    --dark-800: #0B0F2A;
    --dark-700: #121736;
    --dark-600: #1B1F45;

    --violet-500: #7B5CFF;
    --violet-400: #9B6DFF;
    --violet-300: #C084FC;

    --indigo-500: #5C6CFF;
    --indigo-400: #7FA0FF;
    
    --grey-200:  #B8BEDA;
    --grey-100:  #F5F7FF;

    --red-100: #cc0000;

    --primary-font: "Roboto", sans-serif;
}

.register {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, var(--dark-600), var(--violet-500));
    padding: 30px;
}

.register-container {
    width: 450px;
    background-color: var(--dark-800);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    color: var(--grey-200);
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.register-container h2 {
    font-size: 40px;
    font-weight: 700;
    color: var(--grey-100);
    margin-bottom: 1.5rem;
}

.register-container p {
    font-size: 17px;
    margin-bottom: 3rem;
}

.register-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.7rem;
}

.register-container label {
    font-weight: 600;
    font-size: 15px;
}

.register-container input {
    background-color: var(--dark-900);
    border: 2px solid var(--dark-700);
    outline: none;
    border-radius: 10px;
    font-size: 15px;
    padding: 12px;
    color: var(--grey-200);
}

.register-container input:focus {
    outline: 1.5px solid var(--violet-300);
}

.register-container .error-font {
    color: var(--red-100);
    font-size: 15px;
}

.register-container button {
    padding: 10px;
    background: linear-gradient(90deg, var(--indigo-400), var(--indigo-500));
    border-radius: 10px;
    border: 1px solid var(--indigo-400);
    font-weight: 600;
    font-size: 15px;
    color: var(--grey-100);
    margin-top: 2rem;
    transition: all 0.2s;
}

.register-container button:hover {
    cursor: pointer;
    transform: translateY(-1px);
    box-shadow: 0 6px 20px rgba(154, 58, 228, 0.4);
}

@media (max-width: 600px) {
    .register {
        padding: 15px;
    }
    .register-container {
        width: 350px;
    }
    .register-container h2 {
        font-size: 35px;
    }
    .register-container p {
        font-size: 18px;
        margin-bottom: 2rem;
    }
}